
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header img {
    margin-right: 10px;
}


header,
main {
	max-width: 800px;
	margin: 0 auto;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;   
}

section {
    max-width: 800px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 3, 4, 5);
}

.card {
    background-color: #3852c5;
    color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 20px;
    padding: 20px; /*NEW*/
}

h1 {	
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.4em;
}
h2 {
    text-align: center;
}

nav {
	
	margin: auto;
	max-width: 800px;
}

:hover.active {
	color: yellow;
}

section ul {
    list-style: none;
    margin-bottom: 5px;
    padding: 15px;
}

section li {
    margin-bottom: 5px;
}

footer {
    background-color: #3852c5;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}


#hamburger-btn {
    font-size: 1.5rem;
    border: 5px solid #36454f;
	padding: .25rem .75rem;
	background-color: #bbb;
	color: white;

}

#hamburger-btn::before {
	content: "☰";
}

#hamburger-btn.open::before {
	content: "X";
}

nav ul {
    display: none;
	flex-direction: column;
	list-style-type: none;
    background-color: #36454f;
	padding: 0;
    margin: 0;
}
nav ul.open {
    display: flex;
}

/*nav li {
    display: block;
}*/

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
    background-color: rgba(255,255,255, 0.2);
}

/*nav.open li {
	display: block;
	width: 100%;
}*/

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}
