/* large screens */
@media (min-width: 640px) {
    #hamburger-btn {
        display: none; /* Hide the mobile menu on larger screens */
    }

    nav ul {
        flex-direction: row;
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        display: grid;
        grid-column: 1/3;
    }
    
}

